html {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header,
footer,
.hero-container {
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px 0;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
  line-height: 70px;
  margin-bottom: 8px;
  letter-spacing: -1px;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  font-weight: 700;
  color: #f9faf8;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  flex-grow: 1;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 20px;
}

.link,
.hero-para,
button,
.info-para,
.call-state {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 150px;
}

.hero-block {
  display: flex;
  align-items: center;
}

.hero-card {
  flex: 1;
  padding: 10px;
}

.hero-para {
  color: #e5e7eb;
  margin: 0;
  margin-bottom: 18px;
}

.hero-img {
  background: url(/images/christopher-gower-m_HRfLhgABo-unsplash.jpg) no-repeat
    0 0;
  background-size: cover;
  background-position: center;
  display: block;
  flex: 1;
  height: 250px;
}

.info {
  padding-top: 16px;
  padding-bottom: 80px;
}

.info-container {
  padding: 20px 150px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info-card {
  width: 180px;
  text-align: center;
}

.info-img {
  width: 180px;
  height: 180px;
  border: 4px solid #3882f6;
  border-radius: 10px;
  padding: 4px;
}

.info-para {
  margin: 10px 0;
  color: #838383;
}

.quote {
  background-color: #e5e7eb;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
}

.quote-container {
  margin: 140px 100px 80px;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  color: #838383;
  margin: 0;
}

.quote-container > p {
  text-align: end;
  margin-right: 60px;
  font-size: 20px;
  font-weight: 700;
}

.call {
  padding: 0 150px;
}

.call-card {
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  margin: 100px 30px;
}

.call-card > button {
  border: 2px solid #f9faf8;
  height: 40px;
}

.call-text {
  color: #f9faf8;
}

.call-state {
  margin-bottom: 0;
  font-weight: 700;
}

.call-para {
  margin-top: 4px;
  color: #e5e7eb;
}

footer {
  padding: 20px;
}

footer > p {
  color: #f9faf8;
  text-align: center;
}
