html {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header,
footer,
.hero-container {
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  flex-grow: 1;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 20px;
}

.link,
.hero-para,
button {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 150px;
}

.hero-block {
  display: flex;
  align-items: center;
}

.hero-card {
  flex: 1;
  padding: 10px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
  line-height: 70px;
  margin-bottom: 8px;
}

.hero-para {
  color: #e5e7eb;
  margin: 0;
  margin-bottom: 18px;
}

button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  font-weight: 700;
  color: #f9faf8;
}

.hero-img {
  width: 50%;
}

.hero-img2 {
  background: url(/images/christopher-gower-m_HRfLhgABo-unsplash.jpg) no-repeat
    0 0;
  background-size: cover;
  display: block;
  flex: 1;
  height: 250px;
}
